@import url("https://use.typekit.net/gcb7dud.css");

.pagination {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
}
.pagination div {
    display: inline-block;
}
.pagination h3 {
    margin: 40px;
    margin-top: 10px;
}
.m-top.tag-header h1 {
    margin-top: 40px;
}
body .post-card-image {
    background: #c5d2d9;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body .show-card .post-card-image {
    background: #c5d2d9;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.show-description {
    padding-top: 40px;
}
.show-description .post-card-large .post-card-content {
    flex: 1 1 0;
}
.post-feed.show {
    padding-top: 20px;
}
.podcast-card {
    overflow: hidden;
    margin: 0 20px 20px;
    min-height: 100px;
    background: #fff 50%;
    background-size: auto;
    background-size: cover;
    border-radius: 5px;
    -webkit-box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px,
        rgba(39, 44, 49, 0.03) 1px 3px 8px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
        1px 3px 8px rgba(39, 44, 49, 0.03);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: grid;
    grid-template-columns: 100px 1fr;
    position: relative;
    width: 100%;
}
.podcast-card-title {
    margin-top: 0px;
    margin-bottom: 0px;
}
.podcast-card-content {
    padding: 10px;
}
.podcast-card-content p {
    margin: 0px;
}
.control-overlay {
    position: absolute;
    height: 100%;
    width: 100px;
    background: rgba(0, 0, 0, 0.3);
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}
.control-overlay img {
    width: 30px;
    height: 30px;
}
body .post-card:hover {
    transform: initial;
}
.nav li a {
    font-size: 1.5rem;
}
@media (max-width: 900px) {
}
.site-nav {
    width: 100%;
}
.site-nav-left {
    width: 100%;
    padding-right: 4vw;
}
.site-nav-left .nav {
    flex-wrap: wrap;
    width: 100%;
}
.nav li {
    line-height: 1em;
}
.site-header {
    background-color: rgb(247, 164, 45);
}
header::before {
    background: none !important;
}
header::after {
    background: none !important;
}
body .site-header-content {
    min-height: 400px;
}
.home-template .site-nav {
    position: absolute;
    top: 20px;
}
.site-nav,
.site-nav-left {
    overflow-y: visible;
}
.site-menu {
    height: 40px;
    padding: 8px;
}
.site-menu-close {
    height: 40px;
    padding: 8px;
}
.hamburger {
    display: none;
}
.hamburger .nav {
    display: none;
}
/* @media (max-width: 800px) {
    .site-nav-left > .nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
} */
#menu:checked ~ .nav {
    display: block;
}
.hamburger .nav {
    position: fixed;
    background: rgb(247, 164, 45);
    width: 100vw;
    top: 0px;
    left: 0px;
    /* height: 100vh; */
    margin: 0px;
    display: none;
}
.hamburger .nav li:first-child {
    margin-top: 20px;
}
.hamburger .nav li {
    text-align: center;
    padding: 16px;
}
.hamburger .nav li a {
    font-size: 2rem;
}
body .site-header {
    background-color: #faa43a;
    max-height: 50vw;
    background-size: contain;
}
#menu {
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
    display: none;
}
.hamburger {
    position: absolute;
    top: 0px;
    right: 12px;
}
label.close,
label.open {
    display: none;
    cursor: pointer;
}
#menu ~ label.close {
    display: none;
}
#menu ~ label.open {
    display: block;
}
#menu:checked ~ label.close {
    display: block;
}
#menu:checked ~ label.open {
    display: none;
}
.player {
    position: fixed;
    width: 100%;
    max-width: 700px;
    bottom: 20px;
    left: 0px;
    z-index: 999;
    margin-left: calc(50% - 350px);
    margin-right: calc(50% - 350px);
}
.player .podcast-card {
    margin: 0px;
    border-radius: 20px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
        1px 3px 20px rgba(39, 44, 49, 0.08);
    /* background: rgb(247, 164, 45); */
    /* color: white; */
    /* min-height: 50px; */
}

body {
    margin-bottom: 64px;
}
body .site-footer {
    background: #f4f8fb;
    color: black;
}
.copyright {
    color: black;
}
.copyright a {
    color: black;
}

.close {
    position: fixed;
    z-index: 9999;
    top: 12px;
    right: 12px;
}

.rating img {
    height: 30px;
    margin-top: 2vw;
}
.rating.small img {
    height: 20px;
    margin-top: 0px;
    margin-top: 1vw;
}
.rating.small {
    padding: 15px;
    padding-bottom: 0;
}
.description.post-full-content {
    padding-top: 0px;
    background: transparent;
}
.description.post-full-content::after,
.description.post-full-content::before {
    display: none;
}
#site-main,
.site-footer.outer {
    background: #faa43a;
}
.pagination,
.pagination a,
.site-footer,
.copyright,
.copyright a,
.tag-header,
.post-full-title {
    color: white;
}
.tag-header,
.post-card-header,
.post-full-title,
.inner .latest {
    text-transform: uppercase;
}
.page-template .post-full-content {
    background: #faa43a;
    color: white;
}

.page-template .post-full-content strong {
    color: white;
}
.page-template .post-full-content a,
.inner .latest {
    color: white;
}
.author-card-content p,
.author-card-name a,
.post-full-meta-date {
    color: white;
}
.author-card-button {
    color: white;
    border: 1px solid #fff;
}
.show-grid-item .post-card-image-link {
    height: 100%;
    border-radius: 0px;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
        1px 3px 8px rgba(39, 44, 49, 0.03);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.show-grid-item .post-card-image {
    height: 100%;
    grid-row: 1;
    grid-column: 1;
}
.show-grid-item .post-card-content {
    grid-row: 1;
    grid-column: 1;
    align-self: end;
}
.show-grid-item {
    margin: 0 10px 20px;
    border-radius: 0px;
    background: transparent;
    box-shadow: none;
}
.show-grid-item .post-card-content-link {
    padding: 0px;
    /* padding-bottom: 15px; */
    background: rgba(255, 255, 255, 0.7);
}
.show-grid-item .post-card-title {
    margin: 0px;
    padding: 15px;
}
body .show-grid-item:hover {
    transform: scale(1.02);
}
.show-grid-item {
    min-height: 250px;
}
a:hover {
    text-decoration: none;
}
.show-grid-item.post-card {
    flex: 1 1 250px;
}
.show-grid-item.wide.post-card {
    flex: 1 1 400px;
}
.wee-sessions.post-feed iframe {
    width: 100%;
}
.description {
    color: white;
}
.post-card-large h2 {
    font-size: 2rem;
}

body.home-template .post-feed.instagram {
    margin-top: 0px !important;
}
body.home-template .post-feed {
    margin-top: 0px !important;
}
.post-feed,
.post-feed.show {
    padding-top: 0px;
}
.post-feed.instagram article {
    max-height: 250px;
}
.post-feed.instagram article .insta-link,
.post-feed.instagram article .insta {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.inner.get-in-touch {
    text-transform: none;
    font-size: 2rem;
    max-width: 700px;
}
input,
textarea,
button {
    background: none;
    border: none;
    background: white;
    padding: 0px;
    margin: 0px;
    color: black;
    padding: 10px;

    padding-right: 20px;
    padding-left: 20px;
    border-radius: 200px;
    display: block;
    margin: 10px;
    resize: none;
    display: inline-block;
    min-width: 60%;
    max-width: calc(100% - 20px);
}
textarea {
    border-radius: 20px;
}
.middle {
    text-align: center;
}
button {
    background: black;
    color: white;
}
body {
    background: #faa43a;
}
@media (max-width: 740px) {
    .player {
        margin: 0px;
        bottom: 0px;
        width: 100vw !important;
        max-width: 100vw;
    }
    .player .podcast-card {
        border-radius: 0px;
    }
}
@media (max-width: 500px) {
    .m-top {
        margin-top: 20vw;
    }
}
@media (max-width: 450px) {
    .m-top {
        margin-top: 30vw;
    }
}
body.Arts .site-wrapper {
    background: url("/images/arts.png");
    background-size: contain;
    background-repeat: no-repeat;
}
body.Arts .site-header {
    background: none;
}
body.Arts #site-main {
    background: none;
}
body.Arts .m-top {
    margin-top: 25vw;
}
body.Arts .open {
    background: black;
    border-radius: 25%;
}

body.Arts .tag-header {
    color: black;
}
body.Arts .tag-header {
    color: black;
    visibility: visible;
    text-align: center;
}
body.Arts .tag-header h1 {
    font-size: 5rem;
    background: rgb(247, 164, 45);
    color: black;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.8;
    display: inline;
}
body.News .site-wrapper {
    background: url("/images/news.png");
    background-size: contain;
    background-repeat: no-repeat;
}
body.News .site-header {
    background: none;
}
body.News #site-main {
    background: none;
}
body.News .m-top {
    margin-top: 25vw;
}
body.News .open {
    background: black;
    border-radius: 25%;
}

body.News .tag-header {
    color: black;
}
body.News .tag-header {
    color: black;
    visibility: visible;
    text-align: center;
}
body.News .tag-header h1 {
    font-size: 5rem;
    background: rgb(247, 164, 45);
    color: black;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.8;
    display: inline;
}
body.Music .site-wrapper {
    background: url("/images/music2.png");
    background-size: contain;
    background-repeat: no-repeat;
}
body.Music .site-header {
    background: none;
}
body.Music #site-main {
    background: none;
}
body.Music .m-top {
    margin-top: 25vw;
}
body.Music .open {
    background: black;
    border-radius: 25%;
}
body.Music .site-nav-item,
body.Arts .site-nav-item,
body.News .site-nav-item,
body.home-template .site-nav-item,
.site-nav-item {
    color: black;
    background: rgb(247, 164, 45);
    border-radius: 50px;
    margin: 4px;
    font-weight: bold;
}
body.Music .tag-header {
    color: black;
    visibility: hidden;
}
body.News .latest,
body.Arts .latest {
    color: black;
}
body.Music .description span {
    color: black;
    background: rgb(247, 164, 45);
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.8;
    font-weight: bold;
}
body.Music iframe {
    width: 100%;
}
@media (max-width: 800px) {
    body.home-template .site-header {
        background-position-y: 40px;
    }
}
@media (max-width: 700px) {
    body.Music .site-wrapper {
        background-position: top;
        background-size: 120%;
    }
    body.home-template .site-header {
        background-position-y: 90px;
        max-height: 60vw;
    }
}
@media (max-width: 600px) {
    body.Music .site-wrapper {
        background-position: top;
        background-size: 130%;
    }
}
@media (max-width: 550px) {
    body.Music .site-wrapper {
        background-position: top;
        background-size: 160%;
    }
    body.Music .m-top {
        margin-top: 40vw;
    }
}
@media (max-width: 500px) {
    body.Music .site-wrapper {
        background-position: top;
        background-size: 180%;
    }
    body.home-template .site-header {
        background-position-y: 100px;
        max-height: 70vw;
    }
}
@media (max-width: 410px) {
    body.home-template .site-header {
        background-position-y: 160px;
        max-height: 100vw;
    }
}
@media (max-width: 400px) {
    body.Music .site-wrapper {
        background-position: top;
        background-size: 200%;
    }
    body.Music .site-nav-logo,
    body.Arts .site-nav-logo {
        display: none;
    }
    body.Arts .m-top {
        margin-top: 50vw;
    }
}
@media (max-width: 350px) {
    body.Music .site-wrapper {
        background-position: top;
        background-size: contain;
    }
    body.Music .site-nav-logo {
        display: none;
    }
    body.Music .tag-header {
        color: black;
        visibility: visible;
        text-align: center;
    }
    body.Music .tag-header h1 {
        font-size: 5rem;
        background: rgb(247, 164, 45);
        border-radius: 50px;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        opacity: 0.8;
        display: inline;
    }
    body.Music .m-top {
        margin-top: 60vw;
    }
}
.team.post-feed {
    margin-top: 60px;
}
.site-wrapper {
    min-height: 100vw;
}
